@import "compass/reset";
@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "fontello";

/*color*/
$light-color: white;
$main-color: #80a8cc;
$dark-main-color: #6c94b8;
$bg-color: #f2eee8;
$font-color: #999999;
$dark-font-color: #353e48;

/*header*/
$header-height: 60px;
$header-element-height: 26px;

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin logo($font-size, $size, $color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    font-size: $font-size;
    text-align: center;
    display: inline-block;
    width: $size;
    height: $size;
    line-height: $size;
    @include border-radius(50%);
}

@mixin background-square-image($image, $size) {
    width: $size;
    height: $size;
    background: url($image) no-repeat 0 0;
    background-size: $size $size;

}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    -ms-box-shadow: $top $left $blur $color;
    -o-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

@mixin aside-padding($size) {
    padding-left: $size;
    padding-right: $size;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 100;
    font-size: 10px;
    line-height: 13px;
    background-color: $bg-color;
}

.header {
    @include box-shadow(2px, 0, 2px, $font-color);
    z-index: 10;
    background-color: $light-color;
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    .feature-logo, .socials-list, .search-form, .twitter-logo {
        line-height: $header-height;
    }
    .feature-logo, .socials-list {
        float: left;
    }
    .search-form, .search-photo {
        float: right;
    }
    .feature-logo {
        width: $header-height;
        text-align: center;
        border-right: 1px solid #f2eee8;
        .icon-feather {
            @include logo(1em, $header-element-height, $light-color, $main-color);
        }
    }
    .socials-list {
        li {
            @include logo(1em, $header-element-height, $dark-font-color, $light-color);
            border: 1px solid $bg-color;
            margin-left: 10px;
        }
    }
    .twitter-logo {
        text-align: center;
        font-size: 16px;
        color: $main-color;
    }
    .search-form {
        position: relative;
        input {
            width: 130px;
            height: $header-element-height;
            @include border-radius($header-element-height/2);
            border: 1px solid $bg-color;
        }
        label {
            color: $bg-color;
            font-size: 1em;
            position: absolute;
            left: $header-element-height/2;
        }
        .search-button {
            background: none;
            border: none;
            color: $font-color;
            position: absolute;
            right: 0;
            top: 18px;
        }
    }
    .search-photo {
        margin: 15px;
        @include background-square-image("../images/luban-resized.jpg", $header-element-height);
        @include border-radius(50%);
    }
}

.self {
    width: 20%;
    height: 100%;
    float: left;
    background-color: $main-color;
    color: $light-color;
    text-align: center;
    .self-content {
        @include aside-padding(5%);
        .self-image {
            margin: 40px auto 10px auto;
            @include background-square-image("../images/cube-resized.jpg", 60px);
            @include border-radius(50%);
        }
        .name {
            font-weight: 600;
            line-height: 24px;
        }
        a {
            color: $light-color;
            text-decoration: initial;
        }
        .blog-link {
            line-height: 40px;
        }
        .follow-link {
            display: inline-block;
            width: 80px;
            line-height: 30px;
            background-color: $dark-main-color;
            @include border-radius(15px);
        }
    }
    .self-images {
        display: inline-block;
        ul {
            margin-top: 30px;
            li {
                width: 33.3%;
                float: left;
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .activities {
        @include aside-padding(5%);
        margin-top: 30px;
        color: $dark-main-color;
        text-align: left;
        h2 {
            color: $light-color;
            text-transform: uppercase;
            line-height: 20px;
        }
        li {
            line-height: 18px;
            a {
                color: $light-color;
            }
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: $header-height;
    bottom: 0;
}

.main {
    margin: 0 auto;
    width: 60%;
    background-color: $bg-color;

    nav, .posts {
        margin: 30px 30px 0 30px;
        background-color: $light-color;
    }

    nav {
        font-size: 11px;
        ul {
            width: 100%;
            li {
                text-align: center;
                width: 24.5%;
                display: inline-block;
                padding-top: 15px;
                padding-bottom: 15px;
                line-height: 15px;
                .nav-item-title {
                    color: $font-color;
                }
                .nav-item-count {
                    color: $dark-font-color;
                }
                &:hover {
                    border-bottom: 3px solid $main-color;
                }
            }
        }
    }

    .posts {
        color: $font-color;
        .post {
            padding: 25px;
            border-bottom: 1px solid $bg-color;
            .post-image {
                @include border-radius(50%);
                width: 25px;
                height: 25px;
                float: left;
            }
            .post-content {
                margin-left: 40px;
                header {
                    line-height: 20px;
                    font-size: 11px;
                    .post-name {
                        color: $dark-font-color;
                        font-weight: 600;
                    }
                    .post-time {
                        float: right;
                    }
                }
                img, video {
                    width: 100%;
                    height: auto;
                }
                footer {
                    font-size: 12px;
                    ul {
                        width: 100%;
                        position: relative;
                        margin-top: 15px;
                        li {
                            display: inline-block;
                            width: 25px;
                        }
                        .last-icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.social {
    width: 20%;
    height: 100%;
    float: right;
    font-size: 12px;
    text-align: left;
    background-color: $light-color;
    .trends, .followers {
        @include aside-padding(5%);
    }
    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $dark-font-color;
    }
    .trends {
        li {
            color: $main-color;
            line-height: 20px;
        }
    }
    .followers {
        .more {
            float: right;
            color: $main-color;
        }
        li {
            display: inline-block;
            line-height: 50px;
            width: 100%;
            img {
                margin-top: 10px;
                width: 30px;
                height: 30px;
                float: left;
                margin-right: 5px;
                @include border-radius(50%);
            }
            .follower {
                margin: 10px 35px 10px 10px;
                line-height: 16px;
                .follower-name {
                    color: $dark-font-color;
                }
                .follower-title {
                    color: $font-color;
                }
            }
            i {
                float: right;
                color: $dark-font-color;
            }
        }
    }
}


