@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 5, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?66369723");
  src: url("../font/fontello.eot?66369723#iefix") format("embedded-opentype"), url("../font/fontello.woff?66369723") format("woff"), url("../font/fontello.ttf?66369723") format("truetype"), url("../font/fontello.svg?66369723#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66369723#fontello') format('svg');
  }
}
*/
/* line 22, ../sass/fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/fontello.scss */
.icon-twitter:before {
  content: '\e800';
}

/* '' */
/* line 54, ../sass/fontello.scss */
.icon-plus:before {
  content: '\e803';
}

/* '' */
/* line 55, ../sass/fontello.scss */
.icon-forward:before {
  content: '\e804';
}

/* '' */
/* line 56, ../sass/fontello.scss */
.icon-link:before {
  content: '\e805';
}

/* '' */
/* line 57, ../sass/fontello.scss */
.icon-weibo-1:before {
  content: '\e806';
}

/* '' */
/* line 58, ../sass/fontello.scss */
.icon-twitter-1:before {
  content: '\e807';
}

/* '' */
/* line 59, ../sass/fontello.scss */
.icon-mail-1:before {
  content: '\e808';
}

/* '' */
/* line 60, ../sass/fontello.scss */
.icon-search:before {
  content: '\e809';
}

/* '' */
/* line 61, ../sass/fontello.scss */
.icon-star:before {
  content: '\e80a';
}

/* '' */
/* line 62, ../sass/fontello.scss */
.icon-arrows-cw:before {
  content: '\e80b';
}

/* '' */
/* line 63, ../sass/fontello.scss */
.icon-resize-full:before {
  content: '\e80c';
}

/* '' */
/* line 64, ../sass/fontello.scss */
.icon-feather:before {
  content: '\e80d';
}

/* '' */
/*color*/
/*header*/
/* line 59, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 66, ../sass/style.scss */
body {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
  font-size: 10px;
  line-height: 13px;
  background-color: #f2eee8;
}

/* line 74, ../sass/style.scss */
.header {
  -webkit-box-shadow: 2px 0 2px #999999;
  -moz-box-shadow: 2px 0 2px #999999;
  -ms-box-shadow: 2px 0 2px #999999;
  -o-box-shadow: 2px 0 2px #999999;
  box-shadow: 2px 0 2px #999999;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
}
/* line 82, ../sass/style.scss */
.header .feature-logo, .header .socials-list, .header .search-form, .header .twitter-logo {
  line-height: 60px;
}
/* line 85, ../sass/style.scss */
.header .feature-logo, .header .socials-list {
  float: left;
}
/* line 88, ../sass/style.scss */
.header .search-form, .header .search-photo {
  float: right;
}
/* line 91, ../sass/style.scss */
.header .feature-logo {
  width: 60px;
  text-align: center;
  border-right: 1px solid #f2eee8;
}
/* line 95, ../sass/style.scss */
.header .feature-logo .icon-feather {
  color: white;
  background-color: #80a8cc;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 100, ../sass/style.scss */
.header .socials-list li {
  color: #353e48;
  background-color: white;
  font-size: 1em;
  text-align: center;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #f2eee8;
  margin-left: 10px;
}
/* line 106, ../sass/style.scss */
.header .twitter-logo {
  text-align: center;
  font-size: 16px;
  color: #80a8cc;
}
/* line 111, ../sass/style.scss */
.header .search-form {
  position: relative;
}
/* line 113, ../sass/style.scss */
.header .search-form input {
  width: 130px;
  height: 26px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #f2eee8;
}
/* line 119, ../sass/style.scss */
.header .search-form label {
  color: #f2eee8;
  font-size: 1em;
  position: absolute;
  left: 13px;
}
/* line 125, ../sass/style.scss */
.header .search-form .search-button {
  background: none;
  border: none;
  color: #999999;
  position: absolute;
  right: 0;
  top: 18px;
}
/* line 134, ../sass/style.scss */
.header .search-photo {
  margin: 15px;
  width: 26px;
  height: 26px;
  background: url("../images/luban-resized.jpg") no-repeat 0 0;
  background-size: 26px 26px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 141, ../sass/style.scss */
.self {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #80a8cc;
  color: white;
  text-align: center;
}
/* line 148, ../sass/style.scss */
.self .self-content {
  padding-left: 5%;
  padding-right: 5%;
}
/* line 150, ../sass/style.scss */
.self .self-content .self-image {
  margin: 40px auto 10px auto;
  width: 60px;
  height: 60px;
  background: url("../images/cube-resized.jpg") no-repeat 0 0;
  background-size: 60px 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 155, ../sass/style.scss */
.self .self-content .name {
  font-weight: 600;
  line-height: 24px;
}
/* line 159, ../sass/style.scss */
.self .self-content a {
  color: white;
  text-decoration: initial;
}
/* line 163, ../sass/style.scss */
.self .self-content .blog-link {
  line-height: 40px;
}
/* line 166, ../sass/style.scss */
.self .self-content .follow-link {
  display: inline-block;
  width: 80px;
  line-height: 30px;
  background-color: #6c94b8;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 174, ../sass/style.scss */
.self .self-images {
  display: inline-block;
}
/* line 176, ../sass/style.scss */
.self .self-images ul {
  margin-top: 30px;
}
/* line 178, ../sass/style.scss */
.self .self-images ul li {
  width: 33.3%;
  float: left;
}
/* line 181, ../sass/style.scss */
.self .self-images ul li img {
  max-width: 100%;
}
/* line 187, ../sass/style.scss */
.self .activities {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px;
  color: #6c94b8;
  text-align: left;
}
/* line 192, ../sass/style.scss */
.self .activities h2 {
  color: white;
  text-transform: uppercase;
  line-height: 20px;
}
/* line 197, ../sass/style.scss */
.self .activities li {
  line-height: 18px;
}
/* line 199, ../sass/style.scss */
.self .activities li a {
  color: white;
}

/* line 206, ../sass/style.scss */
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 60px;
  bottom: 0;
}

/* line 214, ../sass/style.scss */
.main {
  margin: 0 auto;
  width: 60%;
  background-color: #f2eee8;
}
/* line 219, ../sass/style.scss */
.main .nav {
  height: 100px;
  margin: 30px 30px 0 30px;
  background-color: white;
}

/* line 226, ../sass/style.scss */
.social {
  width: 20%;
  height: 100%;
  float: right;
  background-color: white;
}
